:root {
    --title-font: 'AvenirBlack';
    --text-font: 'AvenirBook';
}

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    background-image: url(../meta/pictures/wallpaper.png);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}


@media screen and (max-width: 800px) {
    .center_button_layout {
        display: flex;
        justify-content: center;
    }

    .flex_button_layout {
        display: flex;
        flex-flow: column nowrap;
    }

    .button_layout {
        display: none;
        flex-flow: column nowrap;
        padding-inline-start: 0px;  
    }

    .button {
        margin: 1em 0em 0em 0em;
    }
    
    .showMenu {
        display: flex;
    }

    .hamburger {
        margin: auto;
        padding: auto;
        background-color: transparent;
        border: none;
    }

    .aboutMePage {
        display: flex;
        justify-content: space-between;
        flex-flow: column-reverse nowrap;
    }

    .aboutMeWidth {
        width: 100%;
    }

    .content {
        justify-content: center;
        flex-flow: column wrap;
        object-fit: cover;
        object-position: center center;
        margin: auto;
        height: auto;
    }

    .portrait {
        width: 100%;
        border-radius: 1em;
        object-fit: fill;
        object-position: center center;
    }

    .responsive_music_web { 
        display: none !important;
    }

    .playlists {
        display: flex;
        justify-content: space-between;
        flex-flow: column nowrap;
        object-position: center center;
    }

    .playlist {
        margin-bottom: 10px;
        width: auto;
    }

    .heroAndVillainFlex {
        display: flex;
        justify-content: center;
        flex-flow: column-reverse nowrap;
    }
    
    .characterPortrait {
        max-width: 100%;
        max-height: auto;
        object-fit: cover;
        object-position: center center;
    }

    p {
        font-size: clamp(0.9rem, 2vw, 1.2rem);
    }

    
}

@media screen and (min-width: 801px) {
    .button_layout {
        display: flex;
        flex-flow: row nowrap;
        margin: auto;
        padding: auto; 
        padding-inline-start: 0px;
    }
    
    .button {
        margin: 3em 4em 3em 4em;
    }
    
    .hamburger {
        display: none !important;
    }

    .menuIcon {
        display: none !important; 
    }

    .closeIcon {
        display: none !important;
    }
    
    .aboutMePage {
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
    }

    .aboutMeWidth {
        min-width: 10%;
        max-width: 45%;
    }

    .content {  
        justify-content: center;
        flex-flow: column wrap;
        width: 100%;
        margin: auto;
        height: auto;
    }

    .portrait {
        width: 50%;
        height: 30em;
        border-radius: 1em;
        object-fit: cover;
        object-position: center center;
    }

    .responsive_music_mobile {
        display: none !important;
    }

    .playlists {
        display: flex;
        justify-content: space-between;
        flex-wrap:nowrap;
    }

    .characterPortrait {
        max-width: 50%;
        height: auto;
        object-fit: cover;
        margin-left: 1em;
        border-style: solid;
        border-radius: 5px;
        border-color: black;
    }

    .heroAndVillainFlex {
        display: flex;
        justify-content: space-around;
        flex-flow: row nowrap;
    }
}

@media screen and (max-width: 1344px) {
    .heroAndVillainFlex {
        display: flex;
        justify-content: center;
        flex-flow: column-reverse nowrap;
    }
    
    .characterPortrait {
        max-width: 80%;
        height: auto;
        border-style: solid;
        border-radius: 5px;
        border-color: black;
        object-fit: cover;
        object-position: center center;
    }
}

h1 {
    font-family: var(--title-font);
}

@media screen and (max-width: 800px) {
    h1 {
        color:blueviolet;
    }
    
}

h2 {
    font-family: var(--text-font);
}

h3 {
    font-family: var(--text-font)
}

summary {
    font-family: var(--title-font);
}

p {
    font-family: var(--text-font);
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.white {
    color: white;
    text-shadow: 1px 1px 2px black;
}

.inline {
    display: inline;
}



.button {
    font-family: var(--title-font);
    width: 15em;
    height: 5em;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    font-size: 1.0em;
    font-weight: 300;
    border-radius: 3px;
    color: lighten(#27AE60, 40%);
    border-bottom: 4px solid darken(#27AE60, 10%);
    outline: none;
    letter-spacing: 2px;
}

.button:hover {
    background: tint(#27AE60, 4%);
    -webkit-animation: hop 1s;
    animation: hop 1s;
}
  
.button_animation {
    display: inline-block;
    /* De transitie duur van de animatie. */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    /* Het transitie effect van de animatie. */
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    /* Opmaak van de tekst in de login knop. */
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    color: white;
}
  
.button_animation:hover, .float:focus, .float:active {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

.default {
    justify-content: center;
    flex-flow: column wrap;
}


.top5list {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.top5heroes {
    width: 45%;
}

.top5villains {
    width: 45%;
}

.tracks {
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap
}

.track {
    display: flex;
    justify-content: space-between;
}

.audio {
    display: inline-flex;
}

dialog {
    width: 80%;
    max-height: 90%;
    border-radius: 1em;
    padding: 0em 1em 0em 1em;
    margin-top: 3.4em;
    margin-bottom: 3.4em;
    background-color: rgb(255, 255, 255, 0.9);
}

dialog::backdrop {
    backdrop-filter: blur(4px);
}

p {
    font-size: clamp(1rem, 1.3vw, 1.4em); 
}

.bulletList {
    font-family: var(--text-font);
    font-size: clamp(1rem, 1.3vw, 1.4rem); 
}

.scrollable {
    height: 81.6311745334797vh;
}

.not_scrollable {
    overflow: hidden;
}

.not_scrollable img {
    width: 100%;
    height: auto;
}

.full_page {
    animation: text 2s forwards;
}

@keyframes text {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

.quote_styling {
    font-size: clamp(1rem, 1.3vw, 1.4em); 
    font-family: 'AvenirLight';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 1px 1px 2px black;
}

#randomQuote {
    font-style: italic;
}